[common]
port = {{ common.port }}
mapquest_key = {{ common.mapquest_key }}
google_maps_key = {{ common.google_maps_key }}

[mysql]
host = {{ mysql.host }}
port = {{ mysql.port }}
username = {{ mysql.username }}
password = {{ mysql.password }}
schema = {{ mysql.schema }}

[instagram]
client_id = {{ instagram.client_id }}
secret = {{ instagram.secret }}
access_token = {{ instagram.access_token }}

[yelp]
consumer_key = 
consumer_secret = 
access_token = 
access_token_secret = 