[common]
port = {{ phileas.common.port }}
mapquest_key = {{ phileas.common.mapquest_key }}
google_maps_key = {{ phileas.common.google_maps_key }}

[mysql]
host = {{ phileas.mysql.host }}
port = {{ phileas.mysql.port }}
username = {{ phileas.mysql.username }}
password = {{ phileas.mysql.password }}
schema = {{ phileas.mysql.schema }}

[instagram]
client_id = {{ phileas.instagram.client_id }}
secret = {{ phileas.instagram.secret }}
access_token = {{ phileas.instagram.access_token }}

[yelp]
consumer_key = {{ phileas.yelp.consumer_key }}
consumer_secret = {{ phileas.yelp.consumer_secret }}
access_token = {{ phileas.yelp.access_token }}
access_token_secret = {{ phileas.yelp.access_token_secret }}