[common]
port = {{ phileas.common.port }}
mapquest_key = {{ phileas.common.mapquest_key }}

[mysql]
host = {{ phileas.mysql.host }}
port = {{ phileas.mysql.port }}
username = {{ phileas.mysql.username }}
password = {{ phileas.mysql.password }}
schema = {{ phileas.mysql.schema }}

[instagram]
client_id = {{ phileas.instagram.client_id }}
secret = {{ phileas.instagram.secret }}
access_token = {{ phileas.instagram.access_token }}

[google]
browser_key = {{ phileas.google.browser_key }}
server_key = {{ phileas.google.server_key }}